h1{
    color:red;
    font-size: x-large;
}

h2{
    background-color: chartreuse;
    font-weight: 800;
    font-family: fantasy;
}

p{
    font-style: flex;
    font-size: 23px;
    color:cornflowerblue;
}