#div1{
    background-color: aqua;
    height: 300px;
    width: 50%;
    float:right;
    padding: 10px;
    border: 5px solid green;
    box-sizing: border-box;
}

#div2{
    background-color: blueviolet;
    color:azure;
    height: 300px;
    width: 50%;
    float: left;
    padding: 4px;
    border: 4px dotted white;
    box-sizing: border-box;
}

#op{
    opacity:0.4;
}
#op:hover{
    opacity:1;
}

img{
    max-height: fit-content;
    max-width: fit-content;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}